# Port of the server
PORT=8080

# JWT key, use 32+ characters random string (Has to be the same as the one in worker.env).
JWTKEY=

# Redis network port or socket file.
REDISPORT=6379

# Complete URL to the workers. If multiple, separate with `,`. For example:
# WORKERS=http://localhost:8081,http://localhost:8082
# [http://localhost:xxxx] where xxxx is the port number in worker.env,
WORKERS=

# Room expire time
ROOMEXPIRE=7200

# Python executable file
PYTHON=