# Port of the worker
PORT=8081

# The name of this worker
WORKERNAME=

# Redis network port or socket file.
REDISPORT=6379

# JWT key, use 32+ characters random string (Has to be the same as the one in master.env).
JWTKEY=

# The complete URL of the master server. For example:
# MASTERSERVER=http://localhost:8080
# [http://localhost:xxxx] where xxxx is the port number in master.env,
MASTERSERVER=

# Python executable (Complete path)
PYTHON=

# Python buy model script (Complete path)
BUYMODELSCRIPT=

# Path to joblib file
BUYMODELPATH=