/* 
for info section */
@media screen and (max-width: 670px) {
    .infoSection{
      font-size: 17px !important;
      width: 100% !important;
    }
    .infoSection p{
      margin-top: 35px !important;
    }
  
  }
  
  .infoSection{
    background-color: white;
    background: white;
    color: black;
    height: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    width:100% !important;
  }
  .moneyInfo{
  
    float: left;
    margin: 7px 30px 30px;
  
  }
  .turnInfo{
    float: right;
    margin: 7px 30px 30px;
  }
  #moneyAmount{
    color: green;
  }
  #turnPlayerName{
    color: black;
  }
  .none{
    display: none ;
  }

/* Monopoly board */
.Magenta {
  background: #FF00FF;
}

.Blue {
  background: blue;
}

.Teal {
  background:#008080;
}

.Orange {
  background: #fa811d;
}

.Red {
  background: #f50c2b;
}

.Yellow {
  background: #ffed20;
}

.Green {
  background: #41994e;
}

.Brown {
  background: brown;
}
*{
  box-sizing: border-box;
}


 h1,h2,h3,h4,h5,h6{
   cursor: context-menu;
 }
.layout{
  padding: 0 50px;
  margin: 0;
  background-position: center;
  background-repeat: repeat;
  background-size: 100px;
  font-family: 'Montserrat', sans-serif; ;
  font-weight: 400;
  font-size: 7px;
  color: #080808;
  text-transform: uppercase;
}

.board{
  display: inline-grid;
  width: 712px;
  height: 712px;
  grid-template-columns: 96px repeat(9,55px) 96px;
  grid-template-rows: 96px repeat(9,55px) 96px;
  background: #080808;
  border: 2px solid #080808;
  grid-gap: 2px;
  margin: 0px !important;
}
.middle{
  grid-column: 2/11;
  grid-row: 2/11;
  background: #fafaf8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}
.title{
  grid-column: 1/9;
  grid-row: 3;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 12px;
  cursor: context-menu;
}
.label{
  font-weight: bold;
  cursor: context-menu;
  text-align: center;
}
.places{
  background: #fafaf8;
  text-align: center;
  transition: transform .2s;
}

.places:hover{
  transform: scale(1.2);
  z-index: 3 !important;

}

.places .containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform-origin: center;
  height: 96px;
  width: 55px;
}
.places .label,
.places .instructions {
  padding: 7px;
  font-weight: bolder;
}
.places .price {
  font-size: 7px;
  font-weight:bolder;
  padding-bottom: 5px;
  cursor:context-menu;
}

.places .color-section {
  height: 25px;
  border-bottom: 2px solid #080808;
}

.chance-box{
  grid-column: 3/6;
  grid-row: 5/7;
  margin: 0;
  text-align: center;
}
.chance .chance-label{
  padding: 7px;

}
.chance .containers {
  justify-content: center;
}
.chance .icon {
  font-size: 60px;
  color: #f50c2b;
}

.railroad .name {
  padding:7px;
}
.railroad .icon {
  font-size: 40px;
  color: #080808;
  margin: 5px auto;
}

.deck{
  border: 2px dashed #080808;
  width: 167px;
  height: 87px;

}
.chance-box{
  letter-spacing: 10px;
}

.deck img{
  width: 160px;
  height: 80px;
  margin: 2px;
}

.corners{
  background-color: white;

}
.corners .containers{
  justify-content: space-around;
  height: 100%;
  width: 100%;

}
/* corners positioning */
.go {
  grid-row:11;
  grid-column: 1;

}
.jail{
  grid-row:1;
  grid-column: 1;

}
.free-parking{
  grid-row:1;
  grid-column: 11;
}
.straight-jail{
  grid-row: 11;
  grid-column: 11;

}
.row {
  display: grid;
  grid-gap: 2px;
}


/* declaring grid size for vertical and horizontal rows */
.horizontal-row {
  grid-template-columns: repeat(9, 55px);
  grid-template-rows: 96px;
}


.vertical-row {
  grid-template-columns: 96px;
  grid-template-rows: repeat(9, 55px);
}

/* .vertical-row .containers {
  top: 50%;
  left: 50%;
} */

/* 4sides */
.top-row{
  grid-column: 2/11;
  grid-row: 1;

}
.bottom-row{
  grid-column: 2/11;
  grid-row: 11;

}
.left-row{
  grid-column: 1;
  grid-row: 2/11;

}
.right-row{
  grid-column: 11;
  grid-row: 11/2;

}
.right-row .containers {
  transform: translate(35%, -21%)  rotate(270deg);
}
.right-row .places{
  transition: transform .2s;
} 
.right-row .places:hover{
  transform: rotate(90deg) scale(1.2);
  z-index: 1;
} 
.left-row .containers {
  transform:translate(37%, -21%) rotate(90deg);
}
.left-row .places{
  transition: transform .2s;
} 
.left-row .places:hover{
  transform: rotate(-90deg) scale(1.2);
  z-index: 1;
} 
.top-row .containers {
  transform: rotate(180deg);
}
.top-row .places{
  transition: transform .2s;
}
.top-row .places:hover{
  transform: rotate(180deg) scale(1.2);
} 
/* GO Corner */
.go{
  text-align: center;
  transition: transform .2s;
  z-index: 1;
}
.go .containers{
  transform: rotate(45deg);
  transition: transform .2s;

}

.go:hover{
  transform: rotate(0deg) scale(1.2);
  

}
.go .containers:hover{
  transform: rotate(0deg);

}
.go-logo{
  font-size: 40px;
  height: fit-content;
  color: #f50c2b;
  margin:5px auto;
}
.go .label{
  padding: 2px 15px;
  font-size: 10px;
  text-align: center;
  width: fit-content;

}
.go .arrow{
  font-size: 25px;
  color: #f50c2b;
  position: relative;
  bottom: 20px;
  right: -30px;
}

/* straight to jail Corner */
.straight-jail{
  text-align: center;
  transition: transform .2s;
  z-index: 1;
  


}
.straight-jail .containers{
  transition: transform .2s;
  transform: rotate(-45deg);
}
.straight-jail .containers:hover{
  transform: rotate(0deg);
}
.straight-jail .label{
  font-size: 16px;
  padding: 2px 20px;

}
.straight-jail .icon
{
  font-size: 40px;
  color: #640303;
  margin: 5px auto;
}
.straight-jail:hover{
  transform: scale(1.2);

}
/* jail corner */
.jail{
  display: grid;
  grid-template-columns: repeat(10, 9.6px);
  grid-template-rows: repeat(10, 9.6px);
  justify-content: center;
  align-items: center;
  transition: transform .2s;
  z-index: 1;
}
.jail:hover{
  transform:  scale(1.2);
}

.jail .icon{
  grid-column: 4/11;
  grid-row: 5/10;
  width: 67.7px;
  height: 66.5px;
  background: #fa811d;
  border-bottom: 2px solid #080808;
  border-left: 2px solid #080808;
  transform: rotate(90deg);
}
.jail .label-just {
  grid-column: 5;
  grid-row: 3;
  transform: rotate(180deg);
  padding-top: 5px;
  padding-right: 35px;
}
.jail .label-visiting {
 
  grid-column:3;
  grid-row: 7;
  transform: rotate(90deg);
  padding-bottom: 5px;
  padding-top: 30px;
  padding-right: 30px;
}
.jail .containers {
  align-items: center;
  transform: rotate(45deg);
}
.jail .label{
  font-size: 10px;
  text-align: center;

}
.jail .window {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left:10px;
  width: 40px;
  height: 40px;
  background: #fafaf8;
  border: 2px solid #080808;
}
.jail .person {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 30px;
}
.jail .bar {
  height: 40px;
  width: 2px;
  background: #080808;
}




/* free parking corner */
.free-parking{
  transition:  transform .2s;
  z-index: 1;
}
.free-parking .containers{
  text-align: center;
  transform: rotate(215deg);
  transition:  transform .2s;


}
.free-parking .containers:hover{
  transform: rotate(360deg);

  


}
.free-parking:hover{
  transform:scale(1.2);
}
.free-parking .label{
  margin-top: 2px;
  font-size: 13px;
}
.free-parking .icon{
  font-size: 40px;
  padding: 5px 0px;
}

.piece{
  position: absolute;
  width: 35px;
  height: auto; 
  transition: transform ease 1s;
  z-index: 2;
  bottom: 50px;
  margin: 0 5px;
}

@keyframes toJail {
  /* You could think of as "step 1" */
  from {
    transform:  translate(610px, 0);
  }
  /* You could think of as "step 2" */
  to{
    transform: translate(25px, -600px);
  }
}

#piece-1{
  left:50px

}
#piece-2{
  left:90px
}
#piece-3{
  left:50px;
  bottom:20px;
}
#piece-4{
  left: 90px;
  bottom: 20px;
}

/* dialog-sections */
.dialog{
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-size: 25px;
  text-transform: none !important;
}
.dialog button{
  margin: 20px 30px;
  width: 30%;
}


.dialogContainer
{
  background-color: white;
  width: 50%;
  margin: 15px auto;
  border-radius: 30px;
}


.dialogBody{
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;

}

/* buy dialog */
.buy-section .dialogHead{
  background-color: rgb(70, 233, 151);
  width: 100%;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  

}
#skipButtonDialog{
  background-color: rgb(240, 80, 80);
  box-shadow: 0 7px rgb(238, 113, 113);
}
#skipButtonDialog:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
#buyButtonDialog{
  background-color: rgb(35, 205, 235);
  box-shadow: 0 7px rgb(134, 242, 250);
}
#buyButtonDialog:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* gacha dialog */

.gacha-section{
  padding-top: 250px !important;
}
.gacha-section .dialogHead{
  background-color: rgb(253, 177, 11);
  width: 100%;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


#okButtonDialog{
  background-color: rgb(35, 205, 235);
  box-shadow: 0 7px rgb(134, 242, 250);
}
#okButtonDialog:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* upgrade dialog */
.upgrade-section .dialogHead{
  background-color: rgb(34, 156, 10);
  width: 100%;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


#upgradeButtonDialog{
  background-color: rgb(35, 205, 235);
  box-shadow: 0 7px rgb(134, 242, 250);
}
#upgradeButtonDialog:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* jail dialog */
.jail-section{
  padding-top: 250px !important;
}
.jail-section .dialogHead{
  background-color: rgb(235, 35, 62);
  width: 100%;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


/* tax-dialog */

.tax-section{
  padding-top: 250px !important;
}
.tax-section .dialogHead{
  background-color: rgb(227, 230, 78);
  width: 100%;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}



